<%# REVIEWS CARD %>
<div class="card card-reviews">
  <div class="card-body body-service-reviews">
    <div class="title-reviews-container">
      <h5 class="card-title">Reviews</h5>
    </div>
    <div class="review-text-container">
      <p class="card-text">4.9 ★</p>
      <div class="divider"></div>
      <p class="card-text">I loved it. Will book again</p>
      <p class="card-text">★★★★★</p>
      <div class="divider"></div>
      <p class="card-text">Beautiful hotel but disappointing service</p>
      <p class="card-text">★★★</p>
      <div class="divider"></div>
    </div>
  </div>
</div>
