<h1>Services#index</h1>
<div>
  <% @services.each do |service| %>
    <%= service.user.first_name%> <%= service.user.last_name%>
    <%= service.sub_category.name %>
    <%= service.user.address %>
  <% end %>
</div>
