.spanish-patio {
  max-width: 45vh; // Adjust as needed
  height: auto;   // Maintain aspect ratio
  display: block; // Remove any extra spacing around the image
  margin-bottom: 0;// Add spacing below the image
  padding: 0;
}

// Add your other styles here
