.banner {
  // max-width: 45vh; // Adjust as needed
  // height: auto;   // Maintain aspect ratio
  // display: block; // Remove any extra spacing around the image
  // margin-bottom: 0;// Add spacing below the image
  // padding: 0;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 15px;
}

.banner h2 {
  text-align: center;
  font-size: 40px;
}

.card-login {
  margin: 20px;
  border-radius: 11px;
  padding: 20px;
  background-color: $dark-blue;
  color: $dark-blue;
}

.buttons {
  margin: 20px;
}

.button-2-log-in {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  border: 2px solid $light-gray;
  -webkit-text-decoration: bold;
  text-decoration: bold;
  font-size: small;
  padding: 4px 20px;
  border-radius: 11px;
  background-color: transparent;

}

.form-label {
  color: white;
}

.form-check-label {
  color: white;
}

.form-control {
  background-color: white;
  color: $dark-blue !important;
}

.card-login {
  margin-bottom: 10px;
}

.divider-log-in {
  position: relative;
  margin: 40px;
}

.p-or {
  position: absolute;
  right: 137px;
  background: $blue;
  color: white;
  font-size: medium;
  top: -12px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-actions {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.a-psw {
  color: lightgrey;
  font-size: smaller;
  text-decoration: underline;
}

.p-sign-up {
  color: white;
}
