// FIRST NAME & LAST NAME
.form-inputs-names {
  display: flex;  // Use flexbox to align items horizontally
  flex-direction: column; // Align items vertically
  align-items: center; // Align items vertically
  justify-content: center;
  width: 100%;
}

.name-inputs {
  display: flex;  // Use flexbox to align items horizontally
  gap: 10px;      // Adjust the gap between first name and last name
  align-items: center; // Align items vertically
  justify-content: space-between;
  width: 100%;
}

.email,
.password,
.password-confirmation,
.name-inputs{
  width: 100%;
}

.user_last_name, .user_first_name {
  display: flex;  // Use flexbox to align items horizontally
  flex-direction: column; // Align items vertically
  align-items: start;
  flex:1;
}

  // Add any other styling you need for the rest of the form inputs
