<!-- Button trigger modal -->
<div data-controller="qrcode">
<!-- <button type="button" data-toggle="modal" data-target="#exampleModal" > </button>-->
  <i class="fa-solid fa-qrcode" data-action="click->qrcode#popup" ></i>


<!-- Modal -->
<div data-qrcode-target="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button data-action="click->qrcode#close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #202834; padding: 10px;">
          <% qr = RQRCode::QRCode.new("http://github.com/") %>
            <%= qr.as_svg(
            color: "fff",
            shape_rendering: "crispEdges",
            module_size: 6,
            standalone: true,
            use_path: true
          ).html_safe %>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
</div>
