<div class="booking-container mt-3" data-controller="togglebooking">
  <% content_for :navbar_title do %>
    <h1 class="text-center w-100 mt-2">
      My Bookings
    </h1>
  <% end %>
  <div class="tabs" >
    <ul class="list-inline tabs-underlined">
    <li>
      <p data-togglebooking-target="li" data-action="click->togglebooking#fireactive" class="tab-underlined active">Confirmed</p>
    </li >
    <li>
      <p data-togglebooking-target="li" data-action="click->togglebooking#firepast" class="tab-underlined">Completed</p>
    </li >
    <li>
      <p data-togglebooking-target="li" data-action="click->togglebooking#firecancelled"class="tab-underlined">Cancelled</p>
    </li>
  </ul>
</div>

  <div data-togglebooking-target="togglableActive" class="active-bookings">
    <%= render "active_bookings" %>
  </div>

  <div data-togglebooking-target="togglablePast" class="past-bookings d-none">
    <%= render "past_bookings" %>
  </div>

  <div data-togglebooking-target="togglableCancelled" class="cancelled-bookings d-none">
    <%= render "cancelled_bookings" %>
  </div>

</div>
