<%# TOP BAR %>
<nav class="topbar topbar-light">

  <i class="fa-solid fa-arrow-left-long topbar-icon"></i>

</nav>


<%# NAV BAR %>
<nav class="navbar fixed-bottom navbar-light">

  <i class="fa-solid fa-house navbar-icon"></i>

  <i class="fa-solid fa-magnifying-glass navbar-icon"></i>

  <i class="fas fa-comment-alt navbar-icon"></i>

  <i class="fa-solid fa-calendar-days navbar-icon"></i>

  <i class="fa-solid fa-user navbar-icon"></i>

</nav>
