<nav class="navbar fixed-bottom navbar-light">

  <i class="fa-solid fa-house nav-bar-icon"></i><span></span>

  <i class="fa-solid fa-magnifying-glass nav-bar-icon"></i> <span></span>

  <i class="fas fa-comment-alt nav-bar-icon"></i> <span></span>

  <i class="fa-solid fa-calendar-days nav-bar-icon"></i><span></span>

  <i class="fa-solid fa-user nav-bar-icon"></i><span></span>

</nav>
