.alert {
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 1000;
}

.modal-open{
  display: block !important;
  opacity: 1 !important;
}

.modal-close{
  display: none !important;
}

.modal-content {
  position: relative;
  bottom: -213px;
  left: 7px;
  display: flex;
  flex-direction: column;
  width: 96%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
