.booking-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking-card {
  justify-content: center;
  width: 342px;
  height: 379px;
  background: $dark-blue;
  border-radius: 11px;
  margin-bottom: 20px;
}

.booking-card-cancelled {
  justify-content: center;
  width: 342px;
  height: 310px;
  background: $dark-blue;
  border-radius: 11px;
  margin-bottom: 20px;
}

.booking-card-img {
  width: 342px;
  height: 187.45px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.card-body {
  margin: 10px 10px 10px 10px;
  height: auto;
}

.top-body-info {
  padding-left: 14px;
  padding-right: 14px;
}

.info {
  margin-left: 10px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 10px auto;
}
.price-tag {
  justify-content: center;
}
.hotel-name {
  margin: 10px auto 10px auto;
}
.service-name .date-time {
  margin: 5px auto 5px auto;
}
.call-to-action {
  margin: 10px 10px 10px 10px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  font-size: x-large;
}
.card-footer {
  margin: 20px 10px 10px 10px;
}
.div-line {
  margin: 20px;
  width: 291px;
  height: 1px;
  margin-inline: 10px;
  background: #C4C4C4;
}
