.button-1 {
  border: 2px solid $dark-blue;
  text-decoration: bold;
  font-size: small;
  padding: 4px 20px;
  border-radius: 11px;
  background-color: $dark-blue;
}


.button-2 {
  color: $light-gray;
  border: 2px solid $light-gray;
  text-align: center;
  text-decoration: bold;
  font-size: small;
  padding: 4px 20px;
  border-radius: 11px;
  background-color: transparent;
  width: 80px;
}

.button-3 {
  color: $orange;
  font-size: small;
  background-color: rgba(60, 60, 67, 0.47); /* Red with 47% opacity */
  text-decoration: bold;
  font-size: small;
  padding: 4px 20px;
  border-radius: 11px;
  display:inline-block;
  border: none;
  margin: 3px;
}

.book-now {
  color: $light-gray;
  border: 2px solid $light-gray;
  text-align: center;
  border: 2px solid $orange; /* Darken the orange by 10% */
  text-decoration: bold;
  font-size: small;
  padding: 10px 10px 10px 10px;
  border-radius: 11px;
  background-color: transparent;
  width: 100%;
  font-size: large;
}
