.button-2 {
  border: 2px solid $light-gray;
  -webkit-text-decoration: bold;
  text-decoration: bold;
  font-size: small;
  padding: 8px 20px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 200px;
  margin-bottom: -35px;
  background-color: transparent;

}
