.chatroom {
  background: $blue;
  margin-top: 9px;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px;
  margin-bottom: 90px;

  h1 {

    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    flex-grow: 1;
    overflow: scroll;
    padding: 1rem;
    color: white;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    gap: 10px;
    font-size: medium;
    position: fixed;
    bottom: 50px;
    width: 92%;
    background-color: #3E4C60;

    .form-group {
      margin-bottom: 0;
    }
  }
}

#message_content {
  margin-top: 0px;
}

// .chatroom-container {
//   height: 100vh;
//   width: 100%;
// }
.chat-hotel {
  display: flex;
  justify-content: start;
  width: 100%;
  background-color: $dark-blue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .hotel-name {
    margin-bottom: 20px;
    margin: 10px auto 10px 40px;
    display: flex;
    flex-direction: column;
  }
}
/* Style for the chatroom container */
.chatroom-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
}

/* Style for the chatroom list */
ul {
  list-style-type: none;
  padding: 0;
}


/* Style for the chatroom links */
a {
  text-decoration: none;
  color: #000;
}
