// HOTEL SERVICE CARD HERE (INDEX PAGE, SERVICES)
.card-services {
  width: 342px;
  height: 275px;
  flex-shrink: 0;
  border-radius: 11px;
}

// Either %, or padding & margin in pixels

// HOTEL SERVICE PROFILE CARD HERE (SHOW PAGE, HOTEL)

// BOOKINGS CARDS:
// HOTEL SERVICE BOOKING CANCELLED CARD HERE (BOOKINGS)
// HOTEL SERVICE BOOKING CURRENT CARD HERE (BOOKINGS)
// HOTEL SERVICE BOOKING PAST CARD HERE (BOOKINGS)
