.review-card {
  justify-content: center;
  width: 342px;
  height: 320px;
  background: #202834;
  border-radius: 11px;
}

.review-card-rating {
  justify-content: center;
  width: 342px;
  height: 260px;
  background: #202834;
  border-radius: 11px;
  padding: 11px;
  margin: 20px;
}

.button-2-review {
  color: $light-gray;
  border: 2px solid $light-gray;
  -webkit-text-decoration: bold;
  text-decoration: bold;
  font-size: small;
  padding: 4px 20px;
  border-radius: 11px;
  background-color: transparent;
  width: 100%;
  margin-top: 15px;
}

.review-rating {
  color: $light-gray;
  font-size: large;
}

.title-price-card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.info-service-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
