.card-user-info {
  margin: 20px;
  border-radius: 11px;
  padding: 20px;
  background-color: $dark-blue;
  color: $light-gray;
  text-align: center;
    h2 {
      margin-top: 10px;
    }
}

.card-user-update {
  margin: 20px;
  border-radius: 11px;
  padding: 20px;
  background-color: $dark-blue;
  color: $light-gray;
}

.fa-right-from-bracket {
  margin-left: 5px;
}

#update {
  margin-bottom: 20px;
}

.logout {
  margin-top: 20px;
}

#user-avatar {
  width: 130px;
  border-radius: 11%;
}

#button-2-large {
  color: #DEDEDE;
  border: 2px solid #DEDEDE;
  -webkit-text-decoration: bold;
  text-decoration: bold;
  font-size: bold;
  padding: 6px 27px;
  border-radius: 11px;
  background-color: transparent;
}
