.card-user-info {
  margin: 20px;
  border-radius: 11px;
  padding: 20px;
  background-color: $dark-blue;
  color: $light-gray;
  text-align: center;
    h2 {
      margin-top: 10px;
    }
}

.card-user-update {
  margin: 20px;
  border-radius: 11px;
  padding: 20px;
  background-color: $dark-blue;
  color: $light-gray;
}
